.ww{
  width: 15% !important;

  margin-left: 10px !important;
}
.navb{
    background: linear-gradient(
        to left,
        rgba(83, 151, 235, 0.455) 10%,
        rgb(212, 234, 241) 90%
      );
    border-bottom: 2px solid #597492;
    border-radius: 8px;

}

.ww{
  width: 15% !important;

  margin-left: 10px !important;
}
@media screen and (max-width: 999px){
  .vv{
     color: black;
  }
  .navb{
    background: linear-gradient(
        to right,
        rgba(32, 68, 113, 0.455) 10%,
        rgb(212, 234, 241) 90%
      ) !important;

}
  
}