.fs1 {
    background-color: aliceblue;
  }
  
  .borderr {
    border: 2px solid #597492;
    border-radius: 8px;
  }
  .line2{
    border-bottom: 1px solid #b0c7e2;
    border-radius: 8px;
    width: 300px;
  
  }