.fs1 {
  background-color: aliceblue;
  margin-bottom: 1%;
}

.borderr {
  border-bottom: 2px solid #597492;
  border-radius: 8px;

}
section {
  background-color: #f5f5f5;
}
.line{
  border-bottom: 1px solid #e6eef6;
  border-radius: 8px;
}
.caption {
  width: 100%;
  padding: 20px;
  color: rgb(203, 198, 198);
  margin-top: -1px;
}

.htitle {
  font-size: 3.5rem;
}

.htitle::after {
  content: "|";
  animation: typing 10s infinite;
  color: #3b679c;
}

@keyframes typing {
  0% {
    content: "|";
  }
  2% {
    content: "F|";
  }
  4% {
    content: "Fr|";
  }
  6% {
    content: "Fre|";
  }
  8% {
    content: "Free|";
  }
  10% {
    content: "Freel|";
  }
  12% {
    content: "Freela|";
  }
  14% {
    content: "Freelan|";
  }
  16% {
    content: "Freelanc|";
  }
  18% {
    content: "Freelance|";
  }
  20% {
    content: "Freelance |";
  }
  22% {
    content: "Freelance D|";
  }
  24% {
    content: "Freelance De|";
  }
  26% {
    content: "Freelance Dev|";
  }
  28% {
    content: "Freelance Deve|";
  }
  30% {
    content: "Freelance Devel|";
  }
  32% {
    content: "Freelance Develo|";
  }
  34% {
    content: "Freelance Develop|";
  }
  36% {
    content: "Freelance Develope|";
  }
  38% {
    content: "Freelance Developer|";
  }
  40% {
    content: "Freelance Developers|";
  }
  42% {
    content: "Freelance Developer|";
  }
  44% {
    content: "Freelance Develope|";
  }
  46% {
    content: "Freelance Develop|";
  }
  48% {
    content: "Freelance Develo|";
  }
  50% {
    content: "Freelance Devel|";
  }
  52% {
    content: "Freelance Deve|";
  }
  54% {
    content: "Freelance Dev|";
  }
  56% {
    content: "Freelance De|";
  }
  58% {
    content: "Freelance D|";
  }
  60% {
    content: "Freelance |";
  }
  62% {
    content: "Freelance|";
  }
  64% {
    content: "Freelanc|";
  }
  66% {
    content: "Freelan|";
  }
  68% {
    content: "Freela|";
  }
  70% {
    content: "Freel|";
  }
  72% {
    content: "Free|";
  }
  74% {
    content: "Fre|";
  }
  76% {
    content: "Fr|";
  }
  78% {
    content: "F|";
  }
  100% {
    content: "|";
  }
}

.ptitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}
